@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.nav{
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    align-items: center;
    height: 50px;
    justify-content: right;
    gap:20px;
    padding-inline: 20px;
    z-index:100;
}
.links{
    text-decoration: none;
}

.singleproperty{
    margin:10px;
    background-color:rgb(146, 140, 140);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
    width:300px;
    height: 250px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.formbox{
    flex-direction: column;
    margin: 10px;
    gap:5px;
}
.addproperty{
    flex-direction: column;
    gap:10px;
}
.addpropcont{
    margin-inline:auto;
    width: fit-content;
    background-color: rgb(189, 187, 187);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10vh;
}
.addpropcont Button{
    margin-inline:5px;
}
Button{
    align-self: center;
    width: max-content;
}

.allproperties{
    margin-top: 10vh;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
}

.singpropimg{
    height: 80%;
    display: flex;
    transition: scale .3s ease-in-out;
}
.singpropimg img{
    width:100%;
}
.singpropimg:hover{
    scale: 1.12;
    cursor: pointer;
}
.singpropdesc{
    justify-content: space-between;
    color: black;
    align-items: center;
    height: 20%;
    background-color: rgb(240, 239, 239);
    padding-inline: 5px;
    font-size: .9rem;
    z-index: 2;
}

.homecomp{
    width: 100%;
    min-height:100vh;
    background: url("https://images.pexels.com/photos/87223/pexels-photo-87223.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.homeheader{
    margin-bottom: 10vh;
    background-color:rgb(250, 250, 250,.4);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    border: 1px solid rgb(249, 249, 249,.9);
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.homeheader h1{
    font-size: 3rem;
}
.homeheader span{
    font-size: 1.5rem;
}


.singlproppage{
    width: 100%;
    margin-top: 5vb;
    padding: 10px;
    min-height: 100vh;
}

.sp-img-desc{
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
}
.sp-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp-img img{
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sp-desc{
    max-width: 90%;
    min-width: 50%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(110, 109, 109);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sp-to-explore-btn{
    position:fixed!important;
    left: 10px !important;
    top: 60px !important;
}
.contactdiv{
    position: fixed;
    background-color:rgb(0, 0, 0,.9);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.contactform{
    width: 400px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    padding: 60px 10px 20px 10px;
    box-shadow: rgba(255, 255, 255, 0.4) 1px 3px 9px;
    gap:20px;
}
.contactform p{
    align-self: center;
}
.formsubmitted,.formloading{
    font-size: 2rem;
    color: #1976D2;
}